juran.pem

recommend/target/
recommend/build/

recommend/.idea/
recommend/.vscode/
recommend/*.iml

recommend/*.log

recommend/.DS_Store

recommend/src/main/resources/application.properties
recommend/application.yml

recommend/**/*.class

recommend/**/*.jar
recommend/**/*.war